body{
    background-color: rgb(177, 223, 12);
}

h2,pre{
    color: rgb(231, 11, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}